version: "3.9"

services:
  pocketbase:
    build: .
    container_name: pocketbase
    ports:
      - "8090:8090"
    volumes:
      - ./pb_data:/pb_app/pb_data
    environment:
      POCKETBASE_ENV: "development"
    restart: unless-stopped

